.nav-tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #555;
    font-size: 18px;
  }
  
  .nav-link.active {
    color: #007bff; /* Change this to your desired active link color */
    font-weight: bold;
    /* You can add more styles for the active link */
  }