.nav-tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2;
    ;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: orange;
    font-size: 18px;
  }
  
  .nav-link.active {
    color:orange; 
    font-weight: bolder;
  
  }