/* General styles */
.work {
  text-align: center;
  padding: 20px;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Project card styles */
.project-card {
  width: calc(30% - 10px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
}

.project-card img {
  width: 100%; /* Image width occupies the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover img {
  transform: scale(1.05); /* Enlarge image on hover */
}

/* Heading styles */


.project-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: orange;
  text-align: center;
  font-family: Arial, sans-serif; /* Set font family */
  font-weight: bold; /* Make font bold */
}
.work {
  text-align: center;
  padding: 20px;
  font-size: x-large;
  font-weight: bolder;
  color:darkorange;
}