#root {
  background-image: url('./images/myImage');
  background-position: cover;
  background-position: center;
  margin-bottom: 35rem;
  color: white;
 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}



